<%- include('./common/header') %>

<div class="container">
  <div class="row">
      <div class="col-lg-8 col-md-offset-2">
          <h2 class="page-header">欢迎你，<span class="text-danger"><%= userInfo.userNickname %></span> ！</h2>
      </div>
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-lg-8 col-md-offset-2">
      <p class="text-center">登录用户才能看的首页！</p>
    </div>
  </div>
</div>

<%- include('./common/jslib') %>
<%- include('./common/footer') %>
